html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(images/texturedbg.jfif);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: antiquewhite;

  overflow-y: auto;         
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  touch-action: pan-y pinch-zoom;  
}
.heart-frame {
  position: relative;
  padding: 40px;
  top: -10px;
  display: inline-block;
}
.content {
  color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  border: white 4px solid;
}
h2{
  color: red;
}
p{
  font-size: 20px;
  line-height: 1.6;

}
.heart-frame .strip {
  position: absolute;
  color: #ff4f7a;
  font-size: 20px;
  pointer-events: none;
  line-height: 1;
}
.strip.top,
.strip.bottom {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  white-space: nowrap;
}
.strip.top { top: 8px; 
}
.strip.bottom {
  bottom: 8px;
  transform: rotate(180deg);
}
.strip.left,
.strip.right {
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 8px;
}
.strip.left  { left: 8px; 
}
.strip.right { right: 8px; 
}
.sl{
  transform: rotate(270deg);
}
.rl{
  transform: rotate(90deg);
}
#heart-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
}
.floating-heart {
  position: absolute;
  bottom: -30px;
  color: #ff4f7a;
  font-size: 24px;
  animation: floatUp linear forwards;
  will-change: transform, opacity;
}
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) scale(1.4);
    opacity: 0;
  }
}
#tl{
  transform: rotate(315deg);
}
#tr{
  transform: rotate(45deg);
}
#bl{
  transform: rotate(225deg);
}
#br{
  transform: rotate(135deg);
}